
.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card {
    flex: 0 0 calc(33.33% - 1rem); /* Adjust the width as needed */
    max-width: calc(33.33% - 1rem); /* Adjust the width as needed */
  }
  .card-title {
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .card-title {
      font-size: 10px;
      color: aqua;
    }
  }
  