 .content{
    color: antiquewhite;
}
 .core-values__list{
    color: antiquewhite;
}
.documents__left{
    color: black;
}

.top-section__container_about_bg{
    background-image: url('/public/images/bg/about.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
  }

  .why__text{
    color: rgb(0, 0, 0);
  }
  .why__info{
    color: black;
  }